
@import 'general.scss';

@mixin text__decoration($font__size,$line__height,$weight,$color,) {
    font-size: $font__size;
    line-height: $line__height;
    font-weight: $weight;
    color: $color;
}
 
.header {
    background-image: url(img/header__background.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

    &__promo {
        margin-top: 189px;
    }

    &__cardholder {
        margin-top: 50px;
    }

}

.main {

    &__clients{margin-top: 100px;}
}

  
.menu {
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    
    &__logo {
        @include text__decoration(1.5rem, 32px,700, #252B42);
        text-decoration: none;
        flex-basis: 50%;
        text-align: left;
        padding-left: 32px;
    }

    &__button {
        height: 22px;
        margin-left: 12px;
        background:none;
    &--hamburger {
        height: 22px;
        margin-left: 12px;
        background:none;
        vertical-align: center;

    }
        
        
        >.button__img {
            width: 24px;
            height: 22px;
            
            &--hamburger {
                width: 24px;
                height: 22px;
            }
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        flex-basis: 50%;
        padding-right: 32px;
    }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: centers;
}

.navigation{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}
.navigation__link {
    margin-top: 30px;
    text-align: center;
    list-style: none;
}
.link {
    text-decoration: none;
    @include text__decoration(2rem, 45px, 400, #737373);
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading{
        @include text__decoration(3rem, 57px, 700, #252B42);
        text-transform: uppercase;
        text-align: center;
        // width: 346px;
    }

    &__text {
        @include text__decoration(1.2rem, 30px, 500, #737373);
        text-align:center;
        // width: 279px;
        margin-top: 40px;
    }

    &__button {
        @include text__decoration(1rem, 28px, 700,white );
        border-radius: 37px;
        width: 185px;
        height: 48px;
    }
    .promo__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-get-quote {
        margin-top: 40px;
        background-color: #FFA62B;
        color: white;
    }

    .button-learn-more {
        color:#00A0C1;
        background-color: white;
        width: 154px;
        height: 48px;
        border: 1px solid #00A0C1;
        margin-top: 25px;
    }

}

.cardholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 188px;

    &__card {
        margin-top: 30px;
    }
}

.card {
    background-color: white;
    width: 329px;
    height: 210px;
    padding-left: 40px;
    padding-top: 35px;

    &--blue {
        background-color: #00A0C1;
        width: 329px;
        height: 210px;
        color: white;
        padding-left: 40px;
        padding-top: 35px;
    }

    &__heading {
        @include text__decoration(1.5rem, 32px, 700, #252B42);
        // width: 228px;
        margin-top: 10px;

        &--white {
            @include text__decoration(1.5rem, 32px, 700, white);
            // width: 228px;
            margin-top: 10px;  
        }
    }

    &__text {
        @include text__decoration(1rem, 20px, 500, #737373);
        // width: 213;
        margin-top: 10px;

        &--white {
            @include text__decoration(1rem, 20px, 500, white);
            // width: 213;
            margin-top: 10px;
        }
    }

}

.features {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;

    &__heading {
        @include text__decoration(3rem, 57px, 700, #252B42);
        text-transform: uppercase;
        // width:252px;
        margin-top: 53px;
    }

    &__text{
        @include text__decoration(1rem, 20px, 700, #737373);
        // width: 225px;
        margin-top: 10px;
    }

    &__featurebox {
        margin-top: 45px;
        margin-bottom: 70px;
    }
}

.featurebox {   
    text-transform: uppercase;
    &__card {
        background-color: white;
        margin-top: 30px;
        padding: 30px 40px;
        width: 241px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        >.card{
            &__heading {
                @include text__decoration(3rem, 57px, 700, #252B42);
                // width: 60px;
            }

            &__text {
               @include text__decoration(1rem, 24px, 700, #737373);
            }

        }
    }
}

.advices {
    background: #f3f3f3;
    padding-bottom:76px;
    &__advicesbox {
        margin-top: 75px;
    }
    background-color: #f3f3f3;
    padding-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__heading {
        @include text__decoration(3rem, 57px, 700, #252B42);
        text-align: center;
        // width: 200px;
        text-transform:uppercase;
    }

    &__text {
        @include text__decoration(1rem, 20px, 500, #737373);
        text-align: center;
        // width: 225px;
        margin-top: 10px;
    }

    &box {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__advicecard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:center;
            background: white;
            width: 230px;
            height: 341px;
            padding-top: 30px;

            margin-bottom: 30px;

            >.advicecard__heading {
                @include text__decoration(1.2rem, 24px, 700, #252B42);
                // width: 170px;    
            }

            >.advicecard__text {
                @include text__decoration(1rem, 20px, 500, #737373);
                // width: 170px;
            }
        }
    }
}

.about {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        @include text__decoration(3rem, 57px, 700, #252B42);
        text-align:center;
    }

    &__text {
        @include text__decoration(1rem, 20px, 500, #737373);
        text-align:center;
        // width: 225px;
        margin-top: 10px;
    }
    
    &__section {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
       
    }
}

.section--about {
    &__video{
        margin-top: 100px;
        
    }
    
    &__heading {
        @include text__decoration(3rem, 57px, 700, #252B42);
        margin-top: 72px;
        // width: 333px;
        text-align: center
    }

    &__text {
        @include text__decoration(1rem, 20px, 700,#737373);
        margin-top: 10px;
        // width: 333px;
        text-align: center
    }

    &__card {
        margin-top: 30px;
    }
}


.about__card {
    display: flex;
    justify-content: center;

    &__wrapper {
        margin-left: 20px;
    }

    &__heading {
        @include text__decoration(1.2rem, 24px, 700, #252B42);
        // width:268px;
    }
    
    &__text {
        @include text__decoration(1rem, 24px, 600, #737373);
        // width:222px;
    }
}

.clients {
    background: white;
    .icons{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__ico{
        margin-top: 60px;
    }
    }

    &__subscribe {
        margin-top: 85px;
    }

}

.subscribe {
    text-transform:capitalize;
    width: 100%;
    background-color: #16697A;
    padding: 30px;
    text-align: center;
    .form {

        &__text{
            @include text__decoration(2rem, 32px, 700, white)
        }

        &__input{
            width: 220px;
            margin-top: 30px;
            height: 58px;
            padding: 20px;
            border-radius: 12px;
        }

        &__button{
            background-color: #FFA62B;
            color: white;
            width: 117px;
            height: 58px;
            border-radius: 5px;
        }
    }
}
.feedback {
    background-color: whitesmoke;
    padding-top: 30px;
    padding: 45px;
    text-align: center;

    &__heading{
        @include text__decoration(3rem, 57px, 700, #252B42)
    }
    &__text{
        @include text__decoration(1rem, 20px, 700, #737373)
    }

    &__cardbox {margin-top: 30px;}
}

.cardbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card--feedback--white {
    margin-top: 30px;
    background-color: white;
    padding: 50px;
    width: 328px;
    height: 333px;

    &__mail {
        margin-top: 5px;
        @include text__decoration(1rem, 24px, 600, #252b42)
    }

    &__heading {
        margin-top: 15px;
        @include text__decoration(1.2rem, 24px, 700, #252b42)
    }
    
    &__button {
        margin-top: 15px;
        @include text__decoration(1rem, 24px, 600, #FFA62B);
        width:160px;
        height: 44px;
        background-color: white;
        border: 1px solid #FFA62B;
        border-radius: 5px;
    }
}

.card--feedback--blue {
    margin-top: 30px;
    background-color: #252B42;
    padding: 50px;
    width: 328px;
    height: 333px;

    &__mail {
        margin-top: 5px;
        @include text__decoration(1rem, 24px, 600, white)
    }

    &__heading {
        margin-top: 15px;
        @include text__decoration(1.2rem, 24px, 700, white)
    }
    
    &__button {
        margin-top: 15px;
        @include text__decoration(1rem, 24px, 600, white);
        width:160px;
        height: 44px;
        background-color: #252B42;
        border: 1px solid white;
        border-radius: 5px;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-left: 82px;
    padding-right: 82px;
    &__heading {
        @include text__decoration(2rem, 32px, 700, #252B42);
        // width: 350px;
        // margin-left: 18px;
    }

    &__text {
        @include text__decoration(1rem, 20px, 700, #737373);
        margin-top:10px;
        // width: 184px;
        margin-right: 47px;
    }

    &__button {
        @include text__decoration(1rem, 28px, 700, white);
        margin-top: 50px;
        width: 160px;
        height: 58px;
        background-color: #FFA62B;
        border-radius: 5px;
        margin-bottom: 30px;
        margin-right: 73px;
    }
}

.cite--map {
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #16697a;
    display: flex;
    flex-direction: column;
    align-items: center;
    *{width:231px;}
    &__heading {
        @include text__decoration(1.2rem, 24px, bold, white);
        margin-top: 30px;
        margin-bottom: 20px;
    }
   
    &__list {
        list-style: none;
    }

    &__link {
        @include text__decoration(1rem, 24px, bold, white);
        text-decoration: none;
       
    }
}

.copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
    &__text{
        @include text__decoration(1rem, 24px, bold, #737373);
        margin-top: 25px;
        margin-bottom: 50px;
        // width: 231px;
    }
    &__wrapper{
        width: 231px;
        display: flex;
        align-items: flex-start;
        gap:20px;
        margin-bottom: 55px;
    }
}

@media (min-width: 1024px){
    .header {
        background-image: url(img/header__background__desktop.jpg) ;
        background-repeat: no-repeat;
        background-size: 100%;  
        &__promo {
            // margin-left: 150px;
            margin-top: 80px;
        }
    }

    .menu {
        padding-top: 0;
        padding-bottom: 23px;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        &__wrapper {
            display: flex;
            order: 3;
            flex-basis: 40%;
            margin-right: 32px;
            align-self: flex-end;
        }
        &__logo {
            align-self: flex-end;
            flex-basis: 30%;
            text-align: center;
            text-decoration: none;
            @include text__decoration(2rem, 32px, bold, #252B42)
        }
        &__button-hamburger {
            background: none;
            width: 24px;
            height: 13px;
           
        }
    } 

    .button__img--loop,.button__img--market {
        display: none;
    }
    
    .navigation {
        display: flex;
        flex-basis: 30%;
        margin: 0px;
    }

    .navigation__list {
        display: flex;
        .navigation__link {
            list-style-type: none;
            margin-left: 21px;
                .link {
                    text-decoration: none;
                    @include text__decoration(1rem, 24px, bold, #737373)
                }
        }
    }

    .promo {
        display: flex;
        justify-content: column;
        align-items: flex-start;
        margin-left: 150px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        &__heading {
            text-align:left;
            @include text__decoration(4rem, 80px, 900, #252B42);
            width:550px;
            margin: 0px;
            padding: 0px
        }
        &__text {

            @include text__decoration(1.5rem, 30px, 400, #737373);
            width: 550px;
            text-align: left
        }
        &__button {
            @include text__decoration(1rem, 28px, 700,white );
            border-radius: 37px;
            // width: 185px;
            height: 48px;
        }
        .button-get-quote {
            margin-top: 40px;
            background-color: #FFA62B;
            color: white;
        }
    
        .button-learn-more {
            color:#00A0C1;
            background-color: white;
            width: 154px;
            height: 48px;
            border: 1px solid #00A0C1;
            margin-top: 25px;
            margin-left: 10px;
        }
    }
    .cardholder {
        position: relative;
        top: 19px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        &__card {
            margin-left: 20px;
        }
        .card {
            background-color: white;
            width: 329px;
            height: 250px;
            padding: 40px;
        
            &--blue {
                background-color: #00A0C1;
                width: 329px;
                height: 250px;
                color: white;
                padding-left: 40px;
                padding: 40px;
            }
            &__heading {
                @include text__decoration(2rem, 32px, 700, #252B42);
                // width: 228px;
                margin-top: 10px;
        
                &--white {
                    @include text__decoration(2rem, 32px, 700, white);
                    // width: 228px;
                    margin-top: 10px;  
                }
            }
        
            &__text {
                @include text__decoration(1rem, 20px, 500, #737373);
                // width: 213;
                margin-top: 10px;
        
                &--white {
                    @include text__decoration(1rem, 20px, 500, white);
                    // width: 213;
                    margin-top: 10px;
                }
            }
        }
    }
    .features {
        padding-top: 131px;
        background-color: whitesmoke;

        &__heading {
            @include text__decoration(3rem, 57px, 700, #252B42);
            text-transform: uppercase;
            text-align: center;
            width: 450px;

        }
    
        &__text{
            width: 600px;
            @include text__decoration(1rem, 20px, 700, #737373);
            text-align: center;
            margin-top: 10px;
        }
        &__featurebox {
            margin-top: 50px;
        }
        .featurebox { 
            padding-bottom: 80px;
            justify-content: center;
            display: flex;  
            text-transform: uppercase;
            &__card {
                margin-left: 30px;
                background-color: white;
                margin-top: 30px;
                padding: 30px 40px;
                width: 241px;
                display: flex;
                flex-direction: column;
                align-items: center;
                

                >.card{
                    &__heading {
                        @include text__decoration(3rem, 57px, 700, #252B42);
                        // width: 60px;
                    
                    }

                    &__text {
                    @include text__decoration(1.2rem, 24px, 700, #737373);
                    }

                }
            }
        }
    }
    .advices {
        background-color: whitesmoke;
        &__heading {
            @include text__decoration(3rem, 57px, 700, #252B42);
            text-align: center;
            text-transform:uppercase;
            width: 450px
        }
    
        &__text {
            @include text__decoration(1rem, 20px, 500, #737373);
            text-align: center;
            margin-top: 10px;
            width: 650px;
        }

        &box {
            width: 100%;
            margin-top: 45px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 80px;

            &__advicecard {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:center;
                background: white;
                width: 230px;
                height: 341px;
                padding-top: 30px;
    
                margin-bottom: 30px;
    
                >.advicecard__heading {
                    @include text__decoration(1.2rem, 24px, 700, #252B42);
                    // width: 170px;  
                    padding-left: 30px;
                    padding-right: 30px;
                }
    
                >.advicecard__text {
                    @include text__decoration(1rem, 20px, 500, #737373);
                    // width: 170px;
                    padding-left: 30px; 
                    padding-right: 30px;
                }
            }
        }
    }

    .about {
        background-color: whitesmoke;
        &__heading {
            @include text__decoration(3rem, 57px, 700, #252B42);
            text-align:center;
            width: 600px;
        }

        &__text {
            @include text__decoration(1rem, 20px, 500, #737373);
            text-align:center;
            margin-top: 10px;
            width: 600px;
        }
        &__section {
            margin-top: 100px;
        }

        .section--about {
            padding-bottom: 100px;
            display: flex;
            flex-direction: row;
            margin-top: 0px;
            justify-content:  center;
            &__video {
                // margin-left: 195px;
                width:40vw;
                height: 100vh;
            }
            &__textpart {
                width: 442px;
                margin-left: 120px;
            }

            &__heading {
                @include text__decoration(3rem, 57px, 700, #252B42);
                margin-top: 22px;
                text-align: left
                // width: 333px;
            }

            &__text {
                text-align: left;
                @include text__decoration(1rem, 20px, 700,#737373);
                margin-top: 10px;
                // width: 333px;
                margin-bottom: 20px;
            }

            &__card {
                display: flex;
                margin-top: 30px;
                justify-content: flex-start;
            }
        }
        .about__card {

            &__wrapper {
                margin-left: 20px;
            }
        
            &__heading {
                @include text__decoration(1.2rem, 24px, 700, #252B42);
                // width:268px;
            }
            
            &__text {
                @include text__decoration(1rem, 24px, 600, #737373);
                // width:222px;
                margin-top: 5px;
            }

            &__image {
                width: 32px;
                height: 32px;
            }
        }
    }

    .clients {
        margin-top: 0px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        >.icons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .subscribe {
            background-color: #16697A;
            width: 986px;
            height: 124px;
            padding: 30px 50px;
            &__form {
                display: flex;
                .form__text {
                    text-transform: capitalize;
                    @include text__decoration(2rem, 32px, 700, white);
                    // width: 286px;
                }
                .form__input {
                    margin-top: 0px;
                    margin-left: 156px;
                    width: 333px;
                    border-radius: 12px;
                }
                .form__button {
                    width: 117px;
                    background-color: #FFA62B;
                    color: white;
                    border-radius: 5px;
                }
            }
        }

    }

    .feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:80px ;
        background-color: whitesmoke;

        &__heading {
            @include text__decoration(3rem, 57px, 700, #252B42);
            text-align: center;
        }

        &__text {
            margin-top: 10px;
            @include text__decoration(1rem, 20px, 400, #737373);
            text-align: center;
            width: 800px;
        }

        &__cardbox {
            margin-top: 80px;
            
        }
        .cardbox {
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 148px;

            .card--feedback--white {
                margin-top: 30px;
                background-color: white;
                padding: 50px;
                width: 328px;
                height: 333px;
            
                &__mail {
                    margin-top: 5px;
                    @include text__decoration(1rem, 24px, 600, #252b42)
                }
            
                &__heading {
                    margin-top: 15px;
                    @include text__decoration(1.2rem, 24px, 700, #252b42)
                }
                
                &__button {
                    margin-top: 15px;
                    @include text__decoration(1rem, 24px, 600, #FFA62B);
                    width:160px;
                    height: 44px;
                    background-color: white;
                    border: 1px solid #FFA62B;
                    border-radius: 5px;
                }
            }
            
            .card--feedback--blue {
                margin-top: 30px;
                background-color: #252B42;
                padding: 50px;
                width: 328px;
                height: 393px;
            
                &__mail {
                    margin-top: 5px;
                    @include text__decoration(1rem, 24px, 600, white)
                }
            
                &__heading {
                    margin-top: 15px;
                    @include text__decoration(1.2rem, 24px, 700, white)
                }
                
                &__button {
                    margin-top: 15px;
                    @include text__decoration(1rem, 24px, 600, white);
                    width:160px;
                    height: 44px;
                    background-color: #252B42;
                    border: 1px solid white;
                    border-radius: 5px;
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0px;
        padding-top: 0px;
        &__heading {
            margin-left: 0px;
            text-transform: capitalize;
            @include text__decoration(2rem, 32px, 700, #252B42);
        }
    
        &__text {
            @include text__decoration(1rem, 20px, 700, #737373);
            margin-top:10px;
        }
    
        &__button {
            @include text__decoration(1rem, 28px, 700, white);
            width: 160px;
            height: 58px;
            background-color: #FFA62B;
            border-radius: 5px;
        }
    }

    .cite--map {

        background-color: #16697A;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top:50px;
        padding-bottom: 50px;
        &__heading {
            margin-top: 0px;
            text-align: left;
            @include text__decoration(1.2rem, 24px, bold, white);
            margin-bottom: 20px;
        }
        
        &__wrapper {
            height: 120px;
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__list {
            text-align: left;
            list-style: none;
        }
    
        &__link {
            @include text__decoration(0.8rem, 24px, bold, white);
            text-decoration: none;
           
        }
    }

    .copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 25px;
        &__text {
            @include text__decoration(1rem, 24px, 400, #737373)
        }
        &__ico {
            margin-left: 20px;
        }
    }
    
}
