@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
@media (min-width:320px){
    .header {
        background: url(img/header__background.jpg) no-repeat;
        height: 100%;
        max-height: 2026px;
        width: 100%;
        background-size: cover ;
    }
 
    .header__menu {
        margin-left: 36px;
    }

    .menu {
        padding-top:23px ;
        display: flex;
    }

    .menu__logo {
        font-size:24px;
        line-height: 32px;
        font-weight: 700;
        color: #252B42;
        margin-right: 87px;
        
    }

    .menu__button {
        background: none;
        border: none;
        margin-left: 24px;
    }

    .header__navigation {
        margin-top:96px;
    }

    .navigation {
        font-size: 30px;
        line-height: 45px;
        text-align: center;

        &__list {
            list-style-type: none;
        }
    }

    .link {
      color: #737373; 
      
    }

    .promo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promo__heading {
        margin-top: 199px;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        color: #252B42;
        text-align: center;
        font-style:bold;
    }

    .promo__text {
        margin-top: 40px;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color:#737373;

    }

    .promo__button {
        border-radius: 37px;
        font-size: 14px;
        line-height: 28px;
        font-weight: 700;
    }

    .button-get-quote {

            margin-top: 40px;
            background-color:#FFA62B ;
            color:white;
            border: none;
            width: 185px;
            height: 48px;

    }

    .button-learn-more {
        margin-top: 35px;
        background-color:white ;
        color:#00A0C1;
        border: 1px solid #00A0C1;
        width: 154px;
        height: 48px;
    }
    .cardholder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__cardholder {
        margin-top: 50px;
    }

    .cardholder__card {
        margin-top: 30px;
    }
    .card {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 40px;
        padding-right: 40px;
        width: 248px;
        height: 140px;
        background-color: white ;
    }
    
    .card__heading {
        margin-top: 10px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #252B42;
    }

    .card__text {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        color: #737373;

    }

    .card__heading-white {
        margin-top: 10px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: white;
    }
    .card-blue {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 40px;
        padding-right: 40px;
        width: 248px;
        height: 140px;
        background-color:#00A0C1 ;
        margin-bottom: 188px;
    }
    .card__text-white {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        color: white;
    }
}

@media(min-width:1440px) {
    .body {
        background-color: red;
    }
}
