/*CSS reset*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
* {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background: url(img/header__background.jpg) no-repeat;
}

.header__menu {
  margin-left: 36px;
}

.header__promo {
  margin-top: 189px;
}

.header__cardholder {
  margin-top: 50px;
}

.menu {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #252B42;
}

.menu__navigation {
  margin-top: 83px;
}

.menu__button {
  margin-left: 24px;
  background: none;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__heading {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: #252B42;
  text-transform: uppercase;
  text-align: center;
  width: 346px;
}

.promo__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #737373;
  text-align: center;
  width: 279px;
  margin-top: 40px;
}

.promo__button {
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  color: white;
  border-radius: 37px;
  width: 185px;
  height: 48px;
}

.promo > .button-get-quote {
  margin-top: 40px;
  background-color: #FFA62B;
  color: white;
}

.promo > .button-learn-more {
  color: #00A0C1;
  background-color: white;
  width: 154px;
  height: 48px;
  border: 1px solid #00A0C1;
  margin-top: 25px;
}

.cardholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 188px;
}

.cardholder__card {
  margin-top: 30px;
}

.card {
  background-color: white;
  width: 329px;
  height: 210px;
  padding-left: 40px;
  padding-top: 35px;
}

.card--blue {
  background-color: #00A0C1;
  width: 329px;
  height: 210px;
  color: white;
  padding-left: 40px;
  padding-top: 35px;
}

.card__heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #252B42;
  width: 228px;
  margin-top: 10px;
}

.card__heading--white {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  width: 228px;
  margin-top: 10px;
}

.card__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #737373;
  width: 213;
  margin-top: 10px;
}

.card__text--white {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: white;
  width: 213;
  margin-top: 10px;
}

.features {
  background: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.features__heading {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: #252B42;
  text-transform: uppercase;
  width: 252px;
  margin-top: 53px;
}

.features__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #737373;
  width: 225px;
  margin-top: 10px;
}

.features__featurebox {
  margin-top: 45px;
  margin-bottom: 70px;
}

.featurebox {
  text-transform: uppercase;
}

.featurebox__card {
  background-color: white;
  margin-top: 30px;
  padding: 30px 40px;
  width: 241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featurebox__card > .card__heading {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: #252B42;
  width: 60px;
}

.featurebox__card > .card__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #737373;
}

.advices {
  background: #f3f3f3;
  background-color: #f3f3f3;
  padding-top: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advices__advicesbox {
  margin-top: 75px;
}

.advices__heading {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: #252B42;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
}

.advices__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #737373;
  text-align: center;
  width: 225px;
  margin-top: 10px;
}

.advicesbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advicesbox__advicecard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 230px;
  height: 341px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.advicesbox__advicecard > .advicecard__heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #252B42;
  width: 170px;
}

.advicesbox__advicecard > .advicecard__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #737373;
  width: 170px;
}

.about {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__heading {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: #252B42;
  text-align: center;
}

.about__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #737373;
  text-align: center;
  width: 225px;
  margin-top: 10px;
}

.about__section > .section--about__video {
  margin-top: 100px;
}

.about__section > .section--about__heading {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: #252B42;
  margin-top: 72px;
  width: 333px;
}

.about__section > .section--about__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #737373;
  margin-top: 10px;
  width: 333px;
}
/*# sourceMappingURL=style.css.map */