//CSS reset
@import 'null__style.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@mixin text__decoration($font__size,$line__height,$weight,$color,) {
    font-size: $font__size;
    line-height: $line__height;
    font-weight: $weight;
    color: $color;


}

* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: url(img/header__background.jpg) no-repeat ;

    &__menu {
        margin-left: 36px;
    }

    &__promo {
        margin-top: 189px;
    }

    &__cardholder {
        margin-top: 50px;
    }

}

.main {
    &__advices {
        // margin-top: 53px;
    }
}

  
.menu {
    padding-top: 36px;
    display: flex;
    // justify-content: space-around;

    &__logo {
        @include text__decoration(24px, 32px,700, #252B42);
    }

    &__navigation {
        margin-top:83px;
    }

    &__button {
        margin-left: 24px;
        background:none;
    }
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading{
        @include text__decoration(40px, 57px, 700, #252B42);
        text-transform: uppercase;
        text-align: center;
        width: 346px;
    }

    &__text {
        @include text__decoration(20px, 30px, 500, #737373);
        text-align:center;
        width: 279px;
        margin-top: 40px;
    }

    &__button {
        @include text__decoration(14px, 28px, 700,white );
        border-radius: 37px;
        width: 185px;
        height: 48px;
    }

    >.button-get-quote {
        margin-top: 40px;
        background-color: #FFA62B;
        color: white;
    }

    >.button-learn-more {
        color:#00A0C1;
        background-color: white;
        width: 154px;
        height: 48px;
        border: 1px solid #00A0C1;
        margin-top: 25px;
    }

}

.cardholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 188px;

    &__card {
        margin-top: 30px;
    }
}

.card {
    background-color: white;
    width: 329px;
    height: 210px;
    padding-left: 40px;
    padding-top: 35px;

    &--blue {
        background-color: #00A0C1;
        width: 329px;
        height: 210px;
        color: white;
        padding-left: 40px;
        padding-top: 35px;
    }

    &__heading {
        @include text__decoration(24px, 32px, 700, #252B42);
        width: 228px;
        margin-top: 10px;

        &--white {
            @include text__decoration(24px, 32px, 700, white);
            width: 228px;
            margin-top: 10px;  
        }
    }

    &__text {
        @include text__decoration(14px, 20px, 500, #737373);
        width: 213;
        margin-top: 10px;

        &--white {
            @include text__decoration(14px, 20px, 500, white);
            width: 213;
            margin-top: 10px;
        }
    }

}

.features {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;

    &__heading {
        @include text__decoration(40px, 57px, 700, #252B42);
        text-transform: uppercase;
        width:252px;
        margin-top: 53px;
    }

    &__text{
        @include text__decoration(14px, 20px, 700, #737373);
        width: 225px;
        margin-top: 10px;
    }

    &__featurebox {
        margin-top: 45px;
        margin-bottom: 70px;
    }
}

.featurebox {   
    text-transform: uppercase;
    &__card {
        background-color: white;
        margin-top: 30px;
        padding: 30px 40px;
        width: 241px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        >.card{
            &__heading {
                @include text__decoration(40px, 57px, 700, #252B42);
                width: 60px;
             
            }

            &__text {
               @include text__decoration(16px, 24px, 700, #737373);
            }

        }
    }
}

.advices {
    background: #f3f3f3;
    &__advicesbox {
        margin-top: 75px;
    }
    background-color: #f3f3f3;
    padding-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__heading {
        @include text__decoration(40px, 57px, 700, #252B42);
        text-align: center;
        width: 200px;
        text-transform:uppercase;
    }

    &__text {
        @include text__decoration(14px, 20px, 500, #737373);
        text-align: center;
        width: 225px;
        margin-top: 10px;
    }

    &box {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__advicecard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:center;
            background: white;
            width: 230px;
            height: 341px;
            padding-top: 30px;

            margin-bottom: 30px;

            >.advicecard__heading {
                @include text__decoration(16px, 24px, 700, #252B42);
                width: 170px;    
            }

            >.advicecard__text {
                @include text__decoration(14px, 20px, 500, #737373);
                width: 170px;
            }
        }
    }
}

.about {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        @include text__decoration(40px, 57px, 700, #252B42);
        text-align:center;
    }

    &__text {
        @include text__decoration(14px, 20px, 500, #737373);
        text-align:center;
        width: 225px;
        margin-top: 10px;
    }
    
    &__section {
        >.section--about {
            
            &__video{
                margin-top: 100px;
            }
            
            &__heading {
                @include text__decoration(40px, 57px, 700, #252B42);
                margin-top: 72px;
                width: 333px;
            }

            &__text {
                @include text__decoration(14px, 20px, 700,#737373);
                margin-top: 10px;
                width: 333px;
            }
        }
    }
}